body {
    color: #232323;
    background: #868787 url('/Content/images/newGrad.jpg') repeat-x;
}

/* Styles for twitter bootstrap mods
-----------------------------------------------------------*/

.container {
    background-color: #fff;
}

.navbar {
    margin-bottom: 0px;
}

.navbar-inner {
    -webkit-border-radius: 0px;
}

.introduction p {
    line-height: 1.43em;
    font-size: .9em;
}

.footer {
    padding: 10px;
    margin-left: 0px;
    color: #fff;
    background: url('/Content/images/newRelatedLinksStripBackground.gif') 0px 0px repeat-y;
}

.categories {
    margin-top: 40px;
    margin-bottom: 40px;
    border: 1px solid #BAD0DD;

}

.category {
    padding: 10px;
}

    .category .description {
        font-size: .9em;
        padding-left: 10px;
    }

    .category h4 {
        border-bottom: 1px solid #BAD0DD;
        padding-bottom: 2px;
        font-size: 16px;
        font-weight: bold;
    }
