@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">

    <div class="span10 offset1 introduction">
        <p>Information Technology Agency (ITA) provides a comprehensive set of information technology services aimed at meeting the technical and business needs of our customers. In this section you will find a complete listing of all ITA Products and Services along with valuable information for each service, including key attributes, service levels, performance objectives, prerequisites, and information regarding customer support. ITA offers customers 21 distinct Core Services. These Core Services are aligned based on functional similarities.</p>
    </div>
    <div class="span10 offset1 categories">
        <div class="category">
            <h4>Application Services</h4>
            <div class="row">
                <div class="span6">
                    <p class="description">
                        ITA provides its customers with a variety of application services to support a wide breadth of operational needs. These services are divided into two Core Services: Application Hosting and Application Development and Maintenance. Application Hosting provides the equipment and facilities required to host an application, while Application Development and Maintenance provides development and testing for a wide-range of applications to meet customer needs.
                    </p>
                </div>
                <div class="span3">
                    <ul>
                        <li><a href="#"><span>Application Development and Maintenance</span></a></li>
                        <li><a href="#"><span>Application Hosting</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
         <div class="category">
            <h4>Cable Television</h4>
            <div class="row">
                <div class="span6">
                    <p class="description">
                    Cable Television (CATV) Services are provided to customers in three distinct Core Services based on security level and location: Unclassified (Black) CATV, Classified (Red) CATV, and Sensitive Compartmented Information (Yellow) CATV.
                    </p>
                </div>
                <div class="span3">
                    <ul>
                        <li><a href="#"><span>Cable Television</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
         <div class="category">
            <h4>Connectivity Services</h4>
            <div class="row">
                <div class="span6">
                    <p class="description">
                   ITA offers two Core Service Offerings to meet customers’ connectivity needs. Network Connectivity provides secure and survivable Unclassified and Classified network connectivity, monitoring, fault management, and on-site support, as well as guaranteed network availability and performance to customers through a redundant architecture. Circuit Transport Service provides, operates, and manages point-to-point telecommunications circuits and equipment for Global Information Grid (GIG) and non-GIG circuits.
                    </p>
                </div>
                <div class="span3">
                    <ul>
                        <li><a href="#"><span>Network Connectivity</span></a></li>
                        <li><a href="#"><span>Circuit Transport</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
